{% extends 'tasks/layout.html' %}
{% block title %}
    Add Tasks
{% endblock %}
{% block body %}
    <form action="{% url 'tasks:add' %}" method="post">
        <label for="name">Name</label>
        <input name="name" type="text" />
        <label for="description">Description</label>
        <textarea name="description"></textarea>
        <label for="start_date">Start Date</label>
        <input name="start_date" type="date" />
        <label for="end_date">End Date</label>
        <input name="end_date" type="date" />
    </form>
{% endblock %}